body{
    margin: auto 0; 
}

.hide-success {
	display: none;
}
.hide-fail {
	display: none;
}

#helloMsg {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 1em	;
}

.datelist {
    list-style: none;
    display: flex;
    font-size: 0.9em;
    margin: auto;
}

.datelist > li {
    padding: 1px;
}

#endLabel {
	padding-left: 5em;
}

.push {
	margin-left: auto;
}

td {
	border: #ccc solid 1px;
}

th {
	border: #ccc solid 1px;
	background-color: #ecedee;	

}
thead {
	text-align: center;
}

input {
  display: block;
  border: 1px solid #ccc;
}

.activity {
	width: 300px;
}

td>input {
    width: 100%;
	position: relative;
	padding-left: 2rem;
	border: 0;
}

/* Responsive Table */
@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ecedee;
	}
	
	 tr:nth-child(even) {
      background: rgb(226, 226, 226);
    }
	
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #ccc;
			border-left: 2px solid #ccc;
			position: relative;
			padding-left: 50%;
		}

		td:first-child {
			font-weight: bold;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Activity"; }
		td:nth-of-type(2):before { content: "Sunday"; }
		td:nth-of-type(3):before { content: "Monday"; }
		td:nth-of-type(4):before { content: "Tuesday"; }
		td:nth-of-type(5):before { content: "Wednesday"; }
		td:nth-of-type(6):before { content: "Thursday"; }
		td:nth-of-type(7):before { content: "Friday"; }
		td:nth-of-type(8):before { content: "Saturday"; }
	}
